<mat-tab-group>
    <mat-tab label="Receipts">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  New Receipt
                </mat-panel-title>                
              </mat-expansion-panel-header>
              <app-add-receipt [receipt]="$receipt | async" (add)="addReceipt($event)"></app-add-receipt>
            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Summary
                  </mat-panel-title>                
                </mat-expansion-panel-header>
                <app-receipt-summary 
                  [receipts]="$receipts | async" 
                  [months]="$months | async" 
                  [years]="$years | async"
                  [filter]="$filter | async"
                  [calculations]="$summary | async"
                  (search)="searchReceipts($event)">               
                </app-receipt-summary>
              </mat-expansion-panel>
        </mat-accordion>      
    </mat-tab>
    <mat-tab label="S26">
      <h1>S26</h1>      
    </mat-tab>
    <mat-tab label="S30">
        <h1>S30</h1>        
      </mat-tab>
  </mat-tab-group>
